# XDG Base Directory
# https://specifications.freedesktop.org/basedir/latest/
export XDG_DATA_HOME="$HOME/.local/share"
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_STATE_HOME="$HOME/.local/state"
export XDG_CACHE_HOME="$HOME/.cache"
{{ if eq .chezmoi.os "linux" }}
    export XDG_DATA_DIRS="/usr/local/share:/usr/share"
    export XDG_CONFIG_DIRS="/etc/xdg"
{{ end }}

# Editors
export EDITOR="vim"
export VISUAL="nvim"

# ripgrep
export RIPGREP_CONFIG_PATH="$XDG_CONFIG_HOME/ripgrep/ripgreprc"

# Starship
export STARSHIP_CONFIG="$XDG_CONFIG_HOME/starship/starship.toml"

# GPG
export GPG_TTY=$(tty)

# Claude
export CLAUDE_CONFIG_DIR="$XDG_CONFIG_HOME/claude"
